{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p class="profile_field">{{ 'Login'|trans }}: {{ user.username }}</p>
    <p class="profile_field">{{ 'E-mail'|trans }}: {{ user.email }}</p>
    <p class="profile_field">{{ 'First Name'|trans }}: {{ user.firstName }}</p>
    <p class="profile_field">{{ 'Last Name'|trans }}: {{ user.lastName }}</p>

    <br>
    <a href="{{ path('fos_user_profile_edit') }}">
        <button class="btn btn-warning center-block"><i class="fas fa-cog"></i> Setting</button>
    </a>
    <a href="{{ path('fos_user_resetting_request') }}">
        <button class="btn btn-warning center-block"><i class="fas fa-key"></i> Reset Password</button>
    </a>
    <a href="{{ path('subscription') }}">
        <button class="btn btn-success center-block"><i class="fas fa-money-check"></i> Subscriptions</button>
    </a>
    <a href="/api/doc?token={{ user.apiKey }}">
        <button class="btn btn-success center-block"><i class="fas fa-file"></i> Api Documentation</button>
    </a>
</div>
