{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/category/index.css') }}">
{% endblock %}

{% block body %}
    {% if categories != null %}

        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
                Categories, page {{ pagination.page }}
            </a>
            {% for category in categories %}
                <a href="{{ path('show_by_category', {id: category.id}) }}" class="list-group-item list-group-item-action">{{ category.name }}</a>
            {% endfor %}
        </div>
    {% else %}
        <p>No categories found</p>
    {% endif %}

    {% include 'pagination.html.twig' %}
{% endblock %}