{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ asset('css/shop/show.css') }}">
{% endblock %}

{% block crumbs %}
    <ol class = "breadcrumb">
        <li><a href = "{{ path('homepage') }}">Home</a></li>
        <li class = "active">{{ shop.name|capitalize }}</li>
    </ol>
{% endblock %}

{% block body %}
    <main role="main">

        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">{{ shop.name }}</h1>
                <p>{{ shop.description }}</p>
                <p>Phone Number: {{ shop.phoneNumber }}</p>
                {% if geocode_data.address.city is defined %}
                    <p>County: {{ geocode_data.address.county }}</p>
                {% endif %}
                {% if geocode_data.display_name is defined %}
                    <p>Address: {{ geocode_data.display_name }}</p>
                {% endif %}
                <p>Rating: {{ shop.getRating() }}</p>
            </div>

            <div id="map" style="height: 500px"></div>
        </div>

        {% if shop.images is not empty %}
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% set first_image = true %}
                    {% for image in shop.images %}
                        <div class="carousel-item {% if first_image %}active{% endif %}">
                            <a href="{{ image.getImageWebPath() }}" class="popup-content noneDecoration">
                                <img class="d-block carousel-img" src="{{ image.getImageWebPath() }}" alt="image">
                            </a>
                        </div>

                        <div id="image-popup{{ image.getFilePath() }}" class="white-popup mfp-hide">
                                <img class="mfp-img" src="{{ asset( image.getImageWebPath() ) }}" alt="Image">
                        </div>
                        {% set first_image = false %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        {% endif %}

        <br><h2 class="center">Categories of our shop</h2><br>
        <div class="list-group">
            {% for category in shop.categories %}
                <div class="col-md-12">
                    <a href="{{ path('show_by_category', {id: category.id}) }}" class="list-group-item list-group-item-action">{{ category.name }}</a>
                </div>
            {% endfor %}
        </div>

            <hr>


    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="https://tiles.unwiredmaps.com/js/leaflet-unwired.js"></script>
    <script>
        $(document).ready(function() {
            $('.popup-content').magnificPopup({
                type: 'image'
            });


            var key = '{{ geocode.accessKey }}'

            // Add layers that we need to the map
            var streets = L.tileLayer.Unwired({key: key, scheme: "streets"});

            // Initialize the map
            var map = L.map('map', {
                center: [{{ shop.lon }}, {{ shop.lat }}], //map loads with this location as center
                zoom: 12,
                layers: [streets] // Show 'streets' by default
            });

            // Add the 'scale' control
            L.control.scale().addTo(map);

            // Add the 'layers' control
            L.control.layers({
                "Streets": streets
            }).addTo(map);

            var marker = L.marker([{{ shop.lon }}, {{ shop.lat }}]).addTo(map)
        });
    </script>
{% endblock %}