{% if pagination.sort and sorting_service is defined %}
    {% if pagination.numberOfPages > 1 %}
        <div class="center-block center">
            <form method="POST">
                <input type="hidden" name="sort" value="{{ pagination.currentField }}">
                <input type="hidden" name="order" value="{{ pagination.currentOrder }}">
                <input type="hidden" name="search" value="{{ sorting_service.parameters['search'] }}">
                <input type="hidden" name="priceFrom" value="{{ sorting_service.parameters['priceFrom'] }}">
                <input type="hidden" name="priceTo" value="{{ sorting_service.parameters['priceTo'] }}">
                <input type="hidden" name="ratingFrom" value="{{ sorting_service.parameters['ratingFrom'] }}">
                <input type="hidden" name="ratingTo" value="{{ sorting_service.parameters['ratingTo'] }}">
                <input type="hidden" name="range" value="{{ sorting_service.parameters['range'] }}">
            <nav aria-label="Page navigation example" style="display: inline-block">
                <ul class="pagination">
                    <li class="page-item">
                        <button class="pagination-button" type="submit" name="page" value="1" > First </button>
                    </li>
                    <li class="page-item">
                        <button class="pagination-button" type="submit" name="page" value="{% if pagination.page == 1 %}1{% else %}{{ pagination.page - 1 }}{% endif %}" >
                            Previous
                        </button>
                    </li>
                    {% for number in pagination.page - pagination.position[0]..pagination.page+pagination.position[1] if number <= pagination.numberOfPages %}
                    <li class="page-item">
                        <button class="pagination-button" {% if number == pagination.page %}class="noneDecoration"{% endif %} type="submit" name="page" value="{{ number }}" >
                            {{ number }}
                        </button>
                    </li>
                    {% endfor %}
                    <li class="page-item">
                        <button class="pagination-button" type="submit" name="page" value="{% if pagination.page >= pagination.numberOfPages %}{{ pagination.page }}{% else %}{{ pagination.page + 1 }}{% endif %}" >
                            Next
                        </button>
                    </li>
                    <li class="page-item">
                        <button class="pagination-button" type="submit" name="page" value="{{ pagination.numberOfPages }}" >
                            Last
                        </button>
                    </li>
                </ul>
            </nav>
            </form>
        </div>
    {% endif %}
{% else %}
    <div class="center-block center">
        <nav aria-label="Page navigation example" style="display: inline-block">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="?page=1">
                        <b> << </b>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={% if pagination.page == 1 %}{{ 1 }}{% else %}{{ pagination.page - 1 }}{% endif %}">
                        <b> < </b>
                    </a>
                </li>
                {% for number in pagination.page - pagination.position[0]..pagination.page+pagination.position[1] if number <= pagination.numberOfPages %}
                    <li class="page-item">
                        <a class="page-link {% if number == pagination.page %}{{ 'noneDecoration' }}{% endif %}" href="?page={{ number }}">
                            <span>
                                {{ number }}
                            </span>
                        </a>
                    </li>
                {% endfor %}
                <li class="page-item">
                    <a class="page-link" href="?page={% if pagination.page >= pagination.numberOfPages %}{{ pagination.page }}{% else %}{{ pagination.page + 1 }}{% endif %}">
                        <b> > </b>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page= {{ pagination.numberOfPages }}">
                        <b> >> </b>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endif %}