{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" method="POST">
    <div class="form-group" id="fos_user_registration_form">

        {{ form_label(form.username, 'Login', {'label_attr': {'class': 'label'}}) }}
        {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Think up a login...'|trans } }) }}

        {{ form_label(form.plainPassword.first, 'Password', {'label_attr': {'class': 'label'}}) }}
        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Enter the password...'|trans } }) }}

        {{ form_label(form.plainPassword.second, 'Confirm', {'label_attr': {'class': 'label'}}) }}
        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Repeat password...'|trans } }) }}

        {{ form_label(form.email, 'E-mail', {'label_attr': {'class': 'label'}}) }}
        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Enter you e-mail...'|trans } }) }}

        {{ form_label(form.firstName, 'First Name', {'label_attr': {'class': 'label'}}) }}
        {{ form_widget(form.firstName, { 'attr': {'class': 'form-control', 'placeholder': 'Enter your first name...'|trans } }) }}

        {{ form_label(form.lastName, 'Last Name', {'label_attr': {'class': 'label'}}) }}
        {{ form_widget(form.lastName, { 'attr': {'class': 'form-control', 'placeholder': 'Enter your last name...'|trans } }) }}

        {{ form_rest(form) }}

    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="{{ 'Registration'|trans }}">
    </div>
</form>