{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/product/index.css') }}">
{% endblock %}

{% block crumbs %}
    <ol class = "breadcrumb">
        <li><a href = "{{ path('homepage') }}">Home</a></li>
        {% if category is defined %}
            <li>
                <a href="{{ path('show_shop_by_id', {'id': category.shop.id}) }}">
                    {{ category.shop.name }}
                </a>
            </li>
            <li>
                <a href="{{ path('category_show') }}">
                    {{ category.name }}
                </a>
            </li>
        {% endif %}
        <li class = "active">Products</li>
        {% if search is defined %}
            <li class = "active">{{ search }}</li>
        {% endif %}
        <li class = "active">
            Sort By
            {% if pagination.currentField == 'id' %}
                {{ 'created'|capitalize }}
            {% else %}
                {{ pagination.currentField|capitalize }}
            {% endif %}
        </li>
        <li class = "active">Page {{ pagination.page }}</li>
    </ol>
{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Sort By</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="noneDecoration" href="?page={{ pagination.page }}&sort=id&order={{ pagination.getNextOrder() }}">
                        <div class="buttonSort">
                            created
                            {% if pagination.currentField == 'id' %}
                                {% if pagination.currentOrder == 'ASC' %}
                                    <span class="arrowSort"><i class="fas fa-arrow-circle-up"></i></span>
                                {% else %}
                                    <span class="arrowSort"><i class="fas fa-arrow-circle-down"></i></span>
                                {% endif %}
                            {% endif %}
                        </div>
                     </a>
                </li>
                <li class="nav-item">
                    <a class="noneDecoration" href="?page={{ pagination.page }}&sort=price&order={{ pagination.getNextOrder }}">
                        <div class="buttonSort">
                            Price
                            {% if pagination.currentField == 'price' %}
                                {% if pagination.currentOrder == 'ASC' %}
                                    <span class="arrowSort"><i class="fas fa-arrow-circle-up"></i></span>
                                {% else %}
                                    <span class="arrowSort"><i class="fas fa-arrow-circle-down"></i></span>
                                {% endif %}
                            {% endif %}
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="noneDecoration" href="?page={{ pagination.page }}&sort=rating&order={{ pagination.getNextOrder }}">
                        <div class="buttonSort">
                            Rating
                            {% if pagination.currentField == 'rating' %}
                                {% if pagination.currentOrder == 'ASC' %}
                                    <span class="arrowSort"><i class="fas fa-arrow-circle-up"></i></span>
                                {% else %}
                                    <span class="arrowSort"><i class="fas fa-arrow-circle-down"></i></span>
                                {% endif %}
                            {% endif %}
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="noneDecoration" href="?page={{ pagination.page }}&sort=title&order={{ pagination.getNextOrder }}">
                        <div class="buttonSort">
                            Title
                            {% if pagination.currentField == 'title' %}
                                {% if pagination.currentOrder == 'ASC' %}
                                    <span class="arrowSort"><i class="fas fa-arrow-circle-up"></i></span>
                                {% else %}
                                    <span class="arrowSort"><i class="fas fa-arrow-circle-down"></i></span>
                                {% endif %}
                            {% endif %}
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="noneDecoration" href="?page={{ pagination.page }}&sort=category&order={{ pagination.getNextOrder }}">
                        <div class="buttonSort">
                            Category
                            {% if pagination.currentField == 'category' %}
                                {% if pagination.currentOrder == 'ASC' %}
                                    <span class="arrowSort"><i class="fas fa-arrow-circle-up"></i></span>
                                {% else %}
                                    <span class="arrowSort"><i class="fas fa-arrow-circle-down"></i></span>
                                {% endif %}
                            {% endif %}
                        </div>
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="GET" action="{{ path('show_products_by_search') }}">
                <input value="{% if search is defined %}{{ search }}{% endif %}" class="form-control mr-sm-2" name="search" type="search" placeholder="Title Product" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <input type="hidden" name="page" value="{{ pagination.page }}">
                <input type="hidden" name="order" value="{{ pagination.currentOrder }}">
                <input type="hidden" name="sort" value="{{ pagination.currentField }}">
            </form>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <form class="form-inline my-2 my-lg-0" method="GET" action="{{ path('show_products_by_search') }}">
           <p>
               <span style="font-size: 20px; margin-right: 20px" class="head-nav">Filtration</span>
               Field
               <select name="field" class="form-control" id="exampleFormControlSelect1">
                   <option>Rating</option>
                   <option>Price</option>
               </select>
               Value from
               <input name="from" class="form-control mr-sm-1">
               To
               <input name="to" class="form-control mr-sm-1">
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
           </p>
        </form>
    </nav>

        <div class="col-md-12 product-window">

            <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="th-sm">Title</th>
                    <th class="th-sm">Price</th>
                    <th class="th-sm">Rating</th>
                    <th class="th-sm">Category</th>
                    <th class="th-sm">Shop</th>
                    <th class="th-sm">Info</th>
                    <th class="th-sm">Add To Basket</th>
                </tr>
                </thead>
                <tbody>
            {% if products != null %}
                {% for product in products %}
                        <tr>
                            <td>
                                <a href="{{ path('product_item', {'id': product.id }) }}">
                                    {{ product.title }}
                                </a>
                            </td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.rating }}</td>
                            <td>{{ product.category.name }}</td>
                            <td><a href="{{ path('show_shop_by_id', {'id': product.category.shop.id}) }}">{{ product.category.shop.name }}</a></td>
                            <td>
                                <a href="#text-popup{{ product.id }}" class="popup-content noneDecoration">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </td>
                            <td>
                                <form method="POST" action="{{ path('add_product_to_basket', {'id': product.id}) }}">
                                     <span class="add_in_basket">
                                         <span>Quantity</span>
                                         <input name="number" class="basket-number">
                                         <label for="{{ product.id }}"> <i class="fas fa-cart-plus"></i> </label>
                                         <input class="hidden" id="{{ product.id }}" type="submit">
                                     </span>
                                </form>
                            </td>
                        </tr>

                    <div id="text-popup{{ product.id }}" class="white-popup mfp-hide">
                        <p>Title: {{ product.title }}</p>
                        <p>Description: {{ product.description }}</p>
                        <p>Quantity: {{ product.number }}</p>
                        <p>Price: {{ product.price }}</p>
                        <p>Rating: {{ product.rating }}</p>
                        <p>Shop: {{ product.category.shop.name }}</p>
                        <p>Category: {{ product.category.name }}</p>
                        {% for image in product.images %}
                            <img class="mfp-img" src="{{ asset( image.getImageWebPath() ) }}" alt="Image">
                        {% endfor %}
                    </div>
                {% endfor %}
                </tbody>
            </table>


            {% else %}
                <p>No active products</p>
            {% endif %}

            {% include 'pagination.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.popup-content').magnificPopup({
                type: 'inline'
            });
        });
    </script>
{% endblock %}