{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/product/index.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="menu">
                <p>Sort by: </p>
                <a class="menu-noneDecoration" href="?page={{ page }}&sort=id&order={{ nextOrder }}">
                    <div class="buttonSort">
                        created
                        {% if current_field == 'id' %}
                            {% if current_order == 'ASC' %}
                                <span class="arrowSort"><i class="fas fa-arrow-circle-up"></i></span>
                            {% else %}
                                <span class="arrowSort"><i class="fas fa-arrow-circle-down"></i></span>
                            {% endif %}
                        {% endif %}
                    </div>
                </a>
                <a class="menu-noneDecoration" href="?page={{ page }}&sort=price&order={{ nextOrder }}">
                    <div class="buttonSort">
                        Price
                        {% if current_field == 'price' %}
                            {% if current_order == 'ASC' %}
                                <span class="arrowSort"><i class="fas fa-arrow-circle-up"></i></span>
                            {% else %}
                                <span class="arrowSort"><i class="fas fa-arrow-circle-down"></i></span>
                            {% endif %}
                        {% endif %}
                    </div>
                </a>
                <a class="menu-noneDecoration" href="?page={{ page }}&sort=rating&order={{ nextOrder }}">
                    <div class="buttonSort">
                        Rating
                        {% if current_field == 'rating' %}
                            {% if current_order == 'ASC' %}
                                <span class="arrowSort"><i class="fas fa-arrow-circle-up"></i></span>
                            {% else %}
                                <span class="arrowSort"><i class="fas fa-arrow-circle-down"></i></span>
                            {% endif %}
                        {% endif %}
                    </div>
                </a>
                <a class="menu-noneDecoration" href="?page={{ page }}&sort=title&order={{ nextOrder }}">
                    <div class="buttonSort">
                        Title
                        {% if current_field == 'title' %}
                            {% if current_order == 'ASC' %}
                                <span class="arrowSort"><i class="fas fa-arrow-circle-up"></i></span>
                            {% else %}
                                <span class="arrowSort"><i class="fas fa-arrow-circle-down"></i></span>
                            {% endif %}
                        {% endif %}
                    </div>
                </a>
                <a class="menu-noneDecoration" href="?page={{ page }}&sort=category&order={{ nextOrder }}">
                    <div class="buttonSort">
                        Category
                        {% if current_field == 'category' %}
                            {% if current_order == 'ASC' %}
                                <span class="arrowSort"><i class="fas fa-arrow-circle-up"></i></span>
                            {% else %}
                                <span class="arrowSort"><i class="fas fa-arrow-circle-down"></i></span>
                            {% endif %}
                        {% endif %}
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-9">
            <b>Products:</b>

            {% if products != null %}
                {% for product in products %}
                    <div class="product">
                        <a href="{{ path('product_item', {'id': product.id }) }}" class="noneDecoration">
                            <div class="productHead">
                                <p class="productTitle">{{ product.title }}</p>
                            </div>
                        </a>
                        <a href="#text-popup{{ product.id }}" class="popup-content noneDecoration">
                            <div class="productBody">
                                <p class="productDescription">{{ product.description }}</p>
                                <p class="productCategory">
                                    This product is from the category
                                    "{{ product.category.name }}"
                                </p>
                                {% for image in product.images %}
                                    <div class="productImage">
                                        <img class="Image" src="{{ asset( image.getImageWebPath() ) }}" alt="Image">
                                    </div>
                                {% endfor %}
                                <p class="productPrice">Price: ${{ product.price }}</p>
                                    {% if product.number != 0 and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <form method="POST" action="{{ path('add_product_to_basket', {'id': product.id}) }}">
                                            <span class="add_in_basket">
                                                <span>Quantity</span>
                                                <input name="number" class="basket-number">
                                                <label for="{{ product.id }}"> <i class="fas fa-cart-plus"></i> </label>
                                                <input class="hidden" id="{{ product.id }}" type="submit">
                                            </span>
                                        </form>
                                    {% else %}
                                        <a class="noneDecoration" href="{{ path('basket') }}">
                                            <span class="add_in_basket">
                                                <i class="fas fa-shopping-cart"></i>
                                            </span>
                                        </a>
                                    {% endif %}

                            </div>
                        </a>
                    </div>

                    <div id="text-popup{{ product.id }}" class="white-popup mfp-hide">
                        <p>Title: {{ product.title }}</p>
                        <p>Description: {{ product.description }}</p>
                        <p>Quantity: {{ product.number }}</p>
                        <p>Price: {{ product.price }}</p>
                        <p>Rating: {{ product.rating }}</p>
                        <p>Category: {{ product.category.name }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>No active products</p>
            {% endif %}

            {% if numberOfPages > 1 %}
                <div class="center-block center">
                    <a href="?page=1&sort={{ current_field }}&order={{ current_order }}">
                        <b> << </b>
                    </a>

                    <a href="?page={% if page == 1 %}{{ 1 }}{% else %}{{ page - 1 }}{% endif %}&sort={{ current_field }}&order={{ current_order }}">
                        <b> < </b>
                    </a>

                    <span>
                        {% for number in page-position[0]..page+position[1] if number <= numberOfPages %}
                            <a href="?page={{ number }}&sort={{ current_field }}&order={{ current_order }}" class="{% if number == page %}{{ 'noneDecoration' }}{% endif %}">
                                <span>{{ number }}</span>
                            </a>
                        {% endfor %}
                    </span>

                    <a href="?page={% if page >= numberOfPages %}{{ page }}{% else %}{{ page + 1 }}{% endif %}&sort={{ current_field }}&order={{ current_order }}">
                        <b> > </b>
                    </a>

                    <a href="?page= {{ numberOfPages }}&sort={{ current_field }}&order={{ current_order }}">
                        <b> >> </b>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.popup-content').magnificPopup({
                type: 'inline'
            });
        });
    </script>
{% endblock %}