{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/product/index.css') }}">
{% endblock %}

{% block body %}
    <b>product {{ product.id }}</b>
    <ul>
        <li>title: {{ product.title }}</li>
        <li>price: {{ product.price }}</li>
        <li>category: {{ product.category.name }}</li>
        <li>description: {{ product.description }}</li>
    </ul>

    {% for image in product.images %}
        <div class="productImage_one">
            <img class="image_one" alt="productImage" src="{{ asset(image.getImageWebPath()) }}">
        </div>
    {% endfor %}
{% endblock %}