{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/product/index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/product/show.css') }}">
    <link rel="stylesheet" href="{{ asset('css/comment.css') }}">
{% endblock %}

{% block crumbs %}
     <ol class = "breadcrumb">
        <li><a href = "{{ path('homepage') }}">Home</a></li>
        <li><a href="{{ path('product_show') }}">Products</a></li>
        <li class="active">{{ product.title|capitalize }}</li>
    </ol>
{% endblock %}

{% block body %}
    <table class="table table-hover">
        <tbody>
        <tr>
            <th scope="row">Title</th>
            <td>{{ product.title }}</td>
        </tr>
        <tr>
            <th scope="row">Price</th>
            <td>${{ product.price }}</td>
        </tr>
        <tr>
            <th scope="row">Category</th>
            <td>{{ product.category.name }}</td>
        </tr>
        <tr>
            <th scope="row">Quantity</th>
            <td>{{ product.number }}</td>
        </tr>
        <tr>
            <th scope="row">Description</th>
            <td>{{ product.description }}</td>
            <td>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if product.number != 0 %}
                        <form method="POST" action="{{ path('add_product_to_basket', {'id': product.id}) }}">
                            <span class="add_in_basket">
                                <input name="number" class="basket-number">
                                <label for="submit"> <i class="fas fa-cart-plus"></i> </label>
                                <input class="hidden" id="submit" type="submit">
                            </span>
                        </form>
                    {% else %}
                        <a class="noneDecoration" href="{{ path('basket') }}">
                            <span class="add_in_basket">
                                <i class="fas fa-shopping-cart"></i>
                            </span>
                        </a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    {% for image in product.images %}
        <div class="productImage_one">
            <img class="image_one" alt="productImage" src="{{ asset(image.getImageWebPath()) }}">
        </div>
    {% endfor %}

    <div class="row bootstrap snippets">
        <div class="col-md-12 col-md-offset-2 col-sm-12">
            <div class="comment-wrapper">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <div class="clearfix">Comments</div>
                        <hr>
                        <ul class="media-list">
                        </ul>
                    </div>
                </div>
            </div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ form_start(comment_form, {'attr': {'class': 'comment-form', 'method': 'POST', 'action': path('ajax_submit_comment') }}) }}

            {{ form_label(comment_form.message) }}
            {{ form_widget(comment_form.message, {'attr': {'placeholder': 'Leave your comment...'}}) }}
            {{ form_errors(comment_form.message) }}

            <div class="comment-buttons">
                 {{ form_widget(comment_form.submit) }}
                <div class="label-button btn btn-success">{{ form_label(comment_form.images) }}</div>

                <div class="hidden">
                    {{ form_widget(comment_form.images) }}
                </div>
            </div>
            {{ form_errors(comment_form.images) }}

        {{ form_end(comment_form) }}
    {% endif %}
    <br><br><br><br><br><br><br><br>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/ajax/comment.js') }}"></script>
    <script>
        var userId = null;
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            userId = {{ app.user.id }}
        {% endif %}

        loadComments(userId, {{ product.id }});
        formChecker(userId, {{ product.id }});
    </script>
{% endblock %}