{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/basket/index.css') }}">
{% endblock %}

{% block body %}
    <h2 class="center">Basket</h2>

    {% if basket_items.values is not empty %}
        <a class="noneDecoration" href="{{ path('delete_basket_items') }}">
            <p class="basket_remove">✖ Clear Basket </p>
        </a>
        <table class="table table-striped">
            <caption>Products</caption>
            <tr>
                <th scope="col" class="center">Product</th>
                <th scope="col" class="center">Product price</th>
                <th scope="col" class="center">Total Price</th>
                <th scope="col" class="center">Quantity</th>
                <th scope="col" class="center">Action</th>
            </tr>
            {% for basket_item in basket_items %}
                <tr class="basket_tr">
                    <td class="basket_td">
                        <a href="{{ path('product_item', {'id': basket_item.basketProduct.id }) }}">
                            <span>{{ basket_item.basketProduct.title }}</span>
                        </a>
                    </td>
                    <td class="basket_td">
                        ${{ basket_item.basketProduct.price }}
                    </td>
                    <td class="basket_td">
                        ${{ basket_item.getTotalPriceAllProducts }}
                    </td>
                    <td class="basket_td">
                        {{ basket_item.numberOfProducts }}
                    </td>
                    <td class="basket_td basket_action">
                        <a class="noneDecoration" href="{{ path('delete_basket_item', {'id': basket_item.id}) }}">
                            ✖
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p class="total_price">
        {% if app.user.getSubscription() %}
            <span>
                {% if app.user.getSubscription() == 'gold'%}
                    You have 20% discount
                {% elseif app.user.getSubscription() == 'silver' %}
                    You have 15% discount
                {% elseif app.user.getSubscription() == 'bronze' %}
                    You have 10% discount
                {% endif %}

                <span id="old-price">${{ app.user.getTotalPriceBasketProducts }}</span><br>
            </span>
        {% endif %}
            Final price: ${{ app.user.getFinalPriceBasketProducts }}
        </p>

        <form class="basket_payment" method="post">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ stripe_public_key }}"
                    data-description="Access for a year"
                    data-amount="{{ app.user.getFinalPriceBasketProducts * 100 }}"
                    data-email="{{ app.user.email }}"
                    data-locale="auto"></script>
        </form>
    {% else %}
        <p class="center">Basket Empty...</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}