{% extends 'base.html.twig' %}

{% block title %}Feedback{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/main/feedback.css') }}">
{% endblock %}

{% block body %}
    <h2>Feedback page</h2>

    {% if allFeedbacks != null %}
        <div id="feedback-window">
        </div>
    {% else %}
        <p>No feedbacks found</p>
    {% endif %}

   {% include 'pagination.html.twig' %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ form_start(formView, {'attr': {'action': path('ajax_submit_feedback'), 'class': 'ajaxForm', 'method': 'POST'}}) }}
            {{ form_label(formView.message) }}
            {{ form_widget(formView.message, {'attr': {'placeholder': 'Leave your feedback...'}}) }}
            {{ form_errors(formView.message) }}

            <div class="feedback-buttons">
                {{ form_widget(formView.submit) }}
                <div class="label-button btn btn-success labelFile">{{ form_label(formView.images) }}</div>

                <div class="hidden">
                    {{ form_widget(formView.images) }}
                </div>
            </div>
            {{ form_errors(formView.images) }}
        {{ form_end(formView) }}
    {% endif %}
    <br><br><br><br><br><br><br><br>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/ajax/feedback.js') }}"></script>
    <script>
        var userId = null;
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            userId = {{ app.user.id }}
        {% endif %}

        formChecker({{ pagination.page }}, {{ pagination.theNumberOnThePage }}, userId)
        loadFeedback({{ pagination.page }}, {{ pagination.theNumberOnThePage }}, userId)
    </script>
{% endblock %}